<h1 class="center"><%=contest.name %></h1>
<table style="margin: 0 auto; min-width: 50%" border="1">
    <tr>
        <th>Задача</th>
        <th>Действия</th>
    </tr>
    <% if (isAdmin) { %>
        <tr>
            <td><b>Новая задача</b></td>
            <td>
                <form action="/problem">
                    <input name="contestId" type="hidden" value="<%=contestId%>" />
                    <input name="problemId" type="hidden" value="-1" />
                    <button name="action" value="manage" type="submit">
                        Создать
                    </button>
                </form>
            </td>
        </tr>
    <% }; %>
    <% problems.forEach(function(problem) { %>
        <tr>
            <td><%=problem.name%></td>
            <td>
                <form action="/problem" method="GET">
                    <input name="problemId" type="hidden" value="<%=problem.id%>" />
                    <input name="contestId" type="hidden" value="<%=contestId%>" />
                    <button name="action" value="participate" type="submit">
                        Решать
                    </button>
                    <% if (isAdmin) { %>
                    <button name="action" value="manage" type="submit">
                        Редактировать
                    </button>
                    <button name="action" value="delete" type="submit">
                        Удалить
                    </button>
                    <% }; %>
                </form>
            </td>
        </tr>
    <% }); %>
</table>